 <div class="main">
   <div class="container">
     <h2><span>My Account</span></h2>
            <div class="row">

              <div class="alert alert-info">
                <h4 class="pull-left"><u>Settings</u></h4>
                <div class="btn-infotoolbar pull-right">
                  <%= link_to "Redeem Coins", redeem_coins_path, class: "btn btn-primary" %>
                  <%= link_to "Buy Coins", buy_coins_path, class: "btn btn-primary" %>
                  <%= link_to "Buy Coins with Globe Gcash", gcash_path, class: "btn btn-info" %>
                  <%= link_to "Buy Coins with Smart Money", smoney_path, class: "btn btn-info" %>
                  <%= link_to "Buy Coins with LBC", lbc_path, class: "btn btn-info" %>

                </div> <br/><br/><br/><br/>
              </div>
            </div>
  </div>
</div>
