<% if current_user %>
  </br>
  </br>
  Welcome <%= current_user.full_name %>!
  <ul>
    <li><%= current_user.first_name %></li>
    <li><%= current_user.email %></li>
    <li><%= current_user.bday %></li>
    <li><%= current_user.gender %></li>
    <li><%= current_user.location %></li>
  </ul>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Sign out", signout_path %></li>
          </ul>
        </nav>
      </div>
      <div class="sub-navbar">
        <div class="container">
          <div class="pull-left">
            Welcome <%= current_user.full_name %>!
          </div>
        </div>
      </div>
    </div>
  </header>
<% else %>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
          </ul>
        </nav>
      </div>
      <div class="sub-navbar">
        <div class="container">
          <div class="pull-left">
            Hello!
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>
