<% if current_user %>
  <div class="main">
    <div class="container">
      <h2><span>Buy coins with smart money</span></h2>

      <img style="margin-left:50px;" src="https://s3-ap-southeast-1.amazonaws.com/apptivate/image/logo_smartmoney.png"/>

      <div class="span5 well well-small">
        <h3>Your Smart Mobile Number</h3>
        <p>* This number must be associated with your Smart Money Account.</p>
        <p>* No Smart Money Account? <%= link_to "Register Smart Money Account", "http://www1.smart.com.ph/money/get/" %></p>

        <%= form_for @user, :url => 'smart_payment' do |f| %>
          <%= f.text_field :number_smart, placeholder: "EX: 09478410243" %>
          <%= f.submit "Save", class: "btn btn-primary", name: "submit_smartNumber" %>
        <% end %>
        </form>
      </div>
      <% if current_user.number_smart != "" %>
        <%= render 'users/smart' %>
      <% else %>
        <% #do nothing %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="main">
    <div class="container">
      <h2><span>Buy coins with smart money</span></h2>
      <div class="alert alert-danger">Sign in to buy coins with Smart Money.</div>
    </div>
  </div>
<% end %>
